@model List<HotelBookingUsingMVC.Database.Amenity>
<body>
   
        @using (Html.BeginForm("SelectAmenities", "Amenities", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

        {
        @Html.AntiForgeryToken()
            <table class="table">
                <tr>
                    <th>
                        Amenity Name
                    </th>
                    <th>
                        Charges
                    </th>
                    <th></th>
                </tr>
                @Html.EditorFor(m => m)
              
            </table>
        <input type="submit" value="Submit" id="save" />
    }
</body>